{% extends index.html %}
{% block inner %}
	<div class="row">
		<br>
		<div class="col-lg-12">
					<div class="panel panel-red">
						<div class="panel-heading">
							ОШИБКА!
						</div>
						<div class="panel-body">
							<p>{{ errmsg }}</p>
						</div>
						<div class="panel-footer">
						<button class="btn btn-default" onClick="history.go(-1)">Вернуться назад</button>
						</div>
					</div>
					<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
{% end %}
