{% extends index.html %}
{% block inner %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Управление</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Шаблоны настроек
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Скорость Вх./Исх.</th>
                                <th>Объем трафика</th>
                                <th>Время сессии</th>
                                <th><center>Изменение</center></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for template in templates %}
                            <tr class="odd gradeX">
                                <td class='text_left'>{{ template.name }}</td>
                                <td>
                                    {% if template.down_rate %}
                                        {{ template.down_rate / 1024 }}
                                    {% else %}
                                        не ограничено
                                    {% end %}
                                            /
                                    {% if template.up_rate %}
                                        {{ template.up_rate / 1024 }}
                                    {% else %}
                                        не ограничено
                                    {% end %}
                                    {% if template.up_rate or template.down_rate %}
                                        Мбит/с
                                    {% end %}
                                </td>
                                <td>
                                    {% if not template.down_limit %}
                                        не ограничено
                                    {% else %}
                                        {{ template.down_limit / 1024 }} МБайт
                                    {% end %}
                                </td>
                                <td>
                                    {% if not template.session_timeout %}
                                        не ограничено
                                    {% else %}
                                        {% set number = int(template.session_timeout / 60) %}
                                        {% set unit = 'минут' %}
                                        {% if number >= 60 %}
                                            {% set number = int(number / 60) %}
                                            {% if number >=10 and str(number)[-2] == '1' %}
                                                {% set unit = 'часов' %}
                                            {% elif str(number)[-1] == '1' %}
                                                {% set unit = 'час' %}
                                            {% elif str(number)[-1] in ('2','3','4') %}
                                                {% set unit = 'часа' %}
                                            {% else %}
                                                {% set unit = 'часов' %}
                                            {% end %}
                                        {% end %}
                                        {{ number }} {{ unit }}
                                    {% end %}
                                </td>
                                <td>
                                    <center>
                                    {% if template.acc_id != 1 %}
                                    <form style="display:inline-block;" action='/edit_template' method='POST'>
                                        <input type="hidden" name="id" value="{{ template.id }}" />
                                        <button type='submit' class="btn btn-warning btn-xs">Изменить</button>
                                    </form>
                                    <form class="need_confrim" style="display:inline-block;" action='/del_template' method='POST'>
                                        <input type="hidden" name="id" value="{{ template.id }}" />
                                        <button type='submit' class="btn btn-danger btn-xs">Удалить</button>
                                    </form>
                                    {% else %}
                                        -
                                    {% end %}
                                    </center>
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                    <form action="/new_template" method="POST">
                        <button type="submit" class="btn btn-default">Новый шаблон</button>
                    </form>
                </div>
                <!-- /.dataTable_wrapper -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Хот-споты
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table-striped" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>IP-адрес</th>
                                <th>Шаблон</th>
                                <th>HTML</th>
                                <th><center>Изменение</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hotspot in hotspots %}
                            <tr class="odd gradeX">
                                <td class='text_left'></center>{{ hotspot.name }}</td>
                                <td>{{ hotspot.ip }}</td>
                                <td>{{ hotspot.template.name }}</td>
                                <td>
                                    <a class="external" target="_blank" href="/example?template={{ hotspot.html_path.name }}">
                                        {{ hotspot.html_path.name }}
                                    </a>
                                </td>
                                <td>
                                    <center>
                                    <form style="display:inline-block;" action='/edit_hotspot' method='POST'>
                                        <input type="hidden" name="id" value="{{ hotspot.id }}" />
                                        <button type='submit' class="btn btn-warning btn-xs">Изменить</button>
                                    </form>
                                    </center>
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                    <p class="help-block">Для добавления нового хот-спота, пожалуйста, обратитесь к Вашему персональному Менеджеру.</p>
                </div>
                <!-- /.dataTable_wrapper -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% end %}
