{% extends index.html %}
{% block inner %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Новый шалон</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="col-lg-6">
					<form role="form" action="/new_template" method="POST">
						<div class="form-group">
							<label>Имя шаблона</label>
							<input name="name" class="form-control">
							<p class="help-block">Имя шаблона может быть любым</p>
						</div>
						<div class="form-group">
							<label>Вх. скорость (МБит/c)</label>
							<select name="down_rate" class="form-control">
								{% for (val,name) in [[512,0.5],[1024,1],[2048,2],[5120,5],[10240,10],[0,'не ограничено']] %}
									<option value="{{ val }}">{{ name }}</option>										
								{% end %}
							</select>
							<p class="help-block">Ограничение входящей скорости для каждого пользователя</p>
						</div>
						<div class="form-group">
							<label>Исх. скорость (Мбит/с)</label>
							<select name="up_rate" class="form-control">
								{% for (val,name) in [[512,0.5],[1024,1],[2048,2],[5120,5],[10240,10],[0,'не ограничено']] %}
									<option value="{{ val }}">{{ name }}</option>
								{% end %}
							</select>
							<p class="help-block">Ограничение исходящей скорости для каждого пользователя</p>
						</div>
						<div class="form-group">
							<label>Объем трафика (МБайт)</label>
							<select name="down_limit" class="form-control">
								{% for (val,name) in [[10240,10],[51200,50],[102400,100],[204800,500],[1048576,1000],[0,'не ограничено']] %}
									<option value="{{ val }}">{{ name }}</option>
								{% end %}
							</select>
							<p class="help-block">Максимальный суммарный (вх. + исх.) объем трафика, предоставленный пользователю</p>
						</div>
						<div class="form-group">
							<label>Время сессии</label>
							<select name="session_timeout" class="form-control">
								{% for (val,name) in [[900, '15 минут'],[1800,'30 минут'],[3600,'1 час'],[7200,'2 часа'],[86400,'24 часа'],[0,'не ограничено']] %}
									<option value="{{ val }}">{{ name }}</option>
								{% end %}
							</select>
							<p class="help-block">Максимальное время сессии пользователя</p>
						</div>											
						<button type="submit" class="btn btn-default">Создать шаблон</button>
						<a href="/manage" class="btn btn-default">Вернуться назад</a>
					</form>
					
				</div>
				<!-- /.col-lg-6 -->
			</div>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% end %}
