{% extends index.html %}
{% block inner %}
			<div class="row">
				<div class="col-lg-12">
                    <h1 class="page-header">Информация</h1>
                </div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Сессии пользователей
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table-striped" id="dataTables-session">
                                    <thead>
                                        <tr>
                                            <th>Хот-спот</th>
                                            <th>Телефон</th>
                                            <th>MAC-адрес</th>
                                            <th>Начало</th>
                                            <th>Конец</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>						
					</div>
					<!-- /.panel -->
				</div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<script>
				$(document).ready(function() {
						$('#dataTables-session').DataTable({
							"language": {
                                "search": "Поиск:",
								"emptyTable": "Нет данных",
								"info": "Записи с _START_ по _END_ из _TOTAL_",
								"lengthMenu": "Показать _MENU_ записей",
								"processing": "Получение данных. Пожалуйста, подождите",
                                "zeroRecords": "Записи отсутствуют.",
								"paginate": {
									"next": "Следующая",
									"previous": "Предыдущая",
								},
							},
                            "searchDelay": 350,
							"bLengthChange": false,
							"order": [[3, 'desc']],
							"searching": true,
							"serverSide": true,
							"processing": true,
							"lengthMenu": [[10,25,50,100], [10,25,50,100]],
							"ajax": {
								"url": "/get_session_table",
								"type": "POST",
							},
						});
				});
			</script>
{% end %}
