{% extends index.html %}
{% block inner %}
{% if user.role.show_hotspot %}
<br />
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Hotspots
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>Name</th>
								<th>IP-address</th>
								<th>Template</th>
								<th>Style</th>
								<th><center>Change</center></th>
							</tr>
						</thead>
						<tbody>
							{% if not len(hotspots) %}
							<tr class="odd gradeX">
								<td colspan='5'>
									<center>
									There are no hotspots
									</center>
								</td>
							</tr>
							{% end %}
							{% for hotspot in hotspots %}
							<tr class="odd gradeX">
								<td>{{ hotspot.name }}</td>
								<td>{{ hotspot.ip }}</td>
								<td>{{ hotspot.template.name }}</td>
                                <td>
                                    <a class="external" target="_blank" href="/example?template={{ hotspot.html_path.name }}">
                                        {{ hotspot.html_path.name }}
                                    </a>
                                </td>
								<td>
									<center>
										{% if user.role.edit_hotspot %}
										<form style="display:inline-block;" action='/edit_hotspot/{{ hotspot.id }}' method='GET'>
											<button type='submit' class="btn btn-outline btn-warning btn-xs">Edit</button>
										</form>
										{% end %}
										{% if user.role.delete_hotspot %}
										<form class="need_confrim" style="display:inline-block;" action='/del_hotspot/{{ hotspot.id }}' method='GET'>
											<button type='submit' class="btn btn-outline btn-danger btn-xs">Delete</button>
										</form>
										{% end %}
									</center>
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
					{% if user.role.create_hotspot %}
					<form action="/new_hotspot" method="GET">
						<button type="submit" class="btn btn-default">New hotspot</button>
					</form>
					{% end %}
				</div>
				<!-- /.dataTable_wrapper -->
			</div>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% end %}
{% if user.role.show_template %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Templates
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Speed Down/Up</th>
								<th>Download Limit</th>
								<th>Session Timeout</th>
								<th><center>Change</center></th>
							</tr>
						</thead>
						<tbody>
							{% if not len(templates) %}
							<tr class="odd gradeX">
								<td colspan='5'>
									<center>
									There are no templates
									</center>
								</td>
							</tr>
							{% end %}
							{% for template in templates %}
							<tr class="odd gradeX">
								<td>{{ template.name }}</td>
								<td>
									{% if template.down_rate %}
										{{ template.down_rate / 1024 }}
									{% else %}
										unlimited
									{% end %}
									/
									{% if template.up_rate %}
										{{ template.up_rate / 1024 }}
									{% else %}
										unlimited
									{% end %}
									{% if template.up_rate or template.down_rate %}
										Mbit/s
									{% end %}
								</td>
								<td>
									{% if not template.down_limit %}
										unlimited
									{% else %}
										{{ template.down_limit / 1024 }} MByte
									{% end %}
								</td>
								<td>
									{% if not template.session_timeout %}
										unlimited
									{% elif template.session_timeout > 3600 %}
										{{ template.session_timeout / 3600 }} hours
									{% else %}
										{{ template.session_timeout / 60 }} minutes
									{% end %}
								</td>
								<td>
									<center>
									{% if template.id != 1 %}
										{% if user.role.edit_template %}
										<form style="display:inline-block;" action='/edit_template/{{ template.id }}' method='GET'>
											<button type='submit' class="btn btn-outline btn-warning btn-xs">Edit</button>
										</form>
										{% end %}
										{% if user.role.delete_template %}
										<form class="need_confrim" style="display:inline-block;" action='/del_template/{{ template.id }}' method='GET'>
											<button type='submit' class="btn btn-outline btn-danger btn-xs">Delete</button>
										</form>
										{% end %}
									{% else %}
										-
									{% end %}
									</center>
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
					{% if user.role.create_template %}
					<form action="/new_template" method="GET">
						<button type="submit" class="btn btn-default">New template</button>
					</form>
					{% end %}
				</div>
				<!-- /.dataTable_wrapper -->
			</div>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
{% end %}
{% if user.role.show_html_path %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Styles
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th><center>Name</center></th>
							</tr>
						</thead>
						<tbody>
							{% if not len(templates) %}
							<tr class="odd gradeX">
								<td>
									<center>
									There are no styles
									</center>
								</td>
							</tr>
							{% end %}
							{% for path in html_paths %}
							<tr class="odd gradeX">
								<td>
									<center>
									<a class="external" target="_blank" href="/example?template={{ path.name }}">
                                        {{ path.name }}
                                    </a>
									</center>
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div>
				<!-- /.dataTable_wrapper -->
			</div>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
{% end %}
{% end %}
