{% extends index.html %}
{% block inner %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New hotspot</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="col-lg-6">
								<form role="form" action="/new_hotspot" method="POST">
									<div class="form-group">
										<label>Hotspot name</label>
										<input name="name" class="form-control">
									</div>
									<div class="form-group">
										<label>Hotspot IP</label>
										<input name="ip" class="form-control">
									</div>
									<div class="form-group">
										<label>Temlate</label>
										<select name="template_id" class="form-control">
											{% for template in templates %}
												<option value="{{ template.id }}">{{ template.name }}</option>
											{% end %}
										</select>
									</div>
									<div class="form-group">
											<label>Style</label>
											<select name="html_path_id" class="form-control">
												{% for path in html_paths %}
													<option value="{{ path.id }}">{{ path.name }}</option>
												{% end %}
											</select>
										</div>
									<button type="submit" class="btn btn-default">Create hotspot</button>
								</form>
							</div>
							<!-- /.col-lg-6 -->
						</div>
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% end %}
