<div id="login" class="error">
    <legend>{{ _('Error') }}</legend>
    <p>{{ _(err_msg) }}. {{ _('Please contact an administrator') }}.</p>
    <form action='/'>
        <button class="btn btn-warning" type="submit">{{ _('Go back') }}</button>
    </form>
</div>
