<div id="login">
    <form action='#' method='GET'>
    <legend>{{ _("Authentification") }}</legend>
      <fieldset>
          {% if 'ph_err' in globals() %}
          <div class="form-group has-error">
            <label class="control-label">{{ ph_err }}</label>
          </div>
          {% else %}
          <div class="form-group">
          {% end %}

          <div class="form-group country-group" style='display: none;'>
          <select id='country' class="form-control">
            {% include countries.html %}
          </select>
          </div>
          <div class="form-group">
            <noscript>
              <label class="control-label">{{ _('Phone number in international format') }}</label>
            </noscript>
          {% if 'ph_num' in globals() %}
            <input id="phonefield" name="phone" type="tel" class="form-control" placeholder="{{ ('Phone number') }}" autocomplete="off" value="{{ ph_num }}">
          {% else %}
            <input id="phonefield" name="phone" type="tel" class="form-control" placeholder="{{ _('Phone number') }}" autocomplete="off">
          {% end %}
          </div>
          <div class="form-group">
                <img src="/captcha" />
                <a href="#"><img src="static/img/refresh.png" width="30px" /></a>
          </div>
          {% if 'captcha_err' in globals() %}
            <div class="form-group has-error">
                <label class="control-label">{{ captcha_err }}</label>
            {% else %}
            <div class="form-group">
            {% end %}
            <input name="captcha" type="text" class="form-control" placeholder="{{ _('Symbols from the image above') }}" autocomplete="off" />
          </div>
          {% if 'session_id' in globals() %}
            <input type="hidden" name="session_id" value="{{ session_id }}" />
          {% end %}
         <button type="button" onclick="return false" class="btn btn-warning">{{ _('GET CODE') }}</button>
         <a href="#" class="descr-link">{{ _('why do i need to do it?') }}</a>
         {% if locale.code == 'en_US'%}
            <a href="?locale=ru" class="switch-lang">
                <span class="flag-icon flag-icon-ru"></span>
                Русский
            </a>
        {% else %}
             <a href="?locale=en_US" class="switch-lang">
                <span class="flag-icon flag-icon-ru"></span>
                English
            </a>
        {% end %}
         
      </fieldset>
    </form>
    <script src="static/script/jquery.min.js"></script>
    <script src="static/script/jquery.maskedinput.min.js"></script>
    <script>
        $(".country-group").show();

        $.mask.definitions['9'] = '';
        $.mask.definitions['d'] = '[0-9]';

        $("#phonefield").mask("+7 (ddd) ddd-dd-dd", {placeholder:" "});
        $("#country").change(function() {
          $("#phonefield").val("");
          if (this.value !== 'null') {
            $("#phonefield").mask(this.value, {placeholder:" "});
          }
          else {
            $("#phonefield").unmask();
          }
        });
    </script>
</div>
