<div id="login">
    <fieldset>
        <form action='/check_code' method='POST'>
              <legend>{{ _('Authentification') }}</legend>
              {% if 'err_msg' in globals() %}
              <div class="form-group has-error">
                <label class="control-label">{{ err_msg }}</label>
              {% else %}
              <div class="form-group">
              {% end %}
                <input name="code" type="number" class="form-control" placeholder="{{ _('Enter a code from SMS') }}" autocomplete="off">
              </div>
              {% if 'session_id' in globals() %}
                <input type="hidden" name="session_id" value="{{ session_id }}" />
              {% end %}
             <button type="submit" class="btn btn-success">{{ _('Go online') }}</button>
        </form>
        <button class="btn btn-warning" onClick="location='/?reset=1';" style="margin-bottom:25px;">{{ _('Get the code again') }}</button>
    </fieldset>
</div>
