<div id="login">
      <legend>{{ _('Authentification') }}</legend>
      <fieldset>
          {% if 'errmsg' in globals() %}
            <label class="control-label">{{ _(errmsg) }}</label>
          {% end %}
            <form action='/confirm' method='GET'>
                <p>{{ _('Is it your phone number') }}: {{ phone }}?</p>
                {% if 'session_id' in globals() %}
                <input type="hidden" name="session_id" value="{{ session_id }}" />
                {% end %}
                <button class="btn btn-success" type="submit">{{ _('No. Log in') }}</button>
            </form>
            <form action='/' method='GET'>
                <input type="hidden" name="ignore_known" value="1">
                <input type="hidden" name="session_id" value="{{ session_id }}" />
                <button class="btn btn-warning" type="submit">{{ _('No. Pass identification') }}</button>
            </form>
            <a href="/describe" class="descr-link">{{ _('why do i need to do it?') }}</a>
            {% if locale.code == 'en_US'%}
                <a href="?locale=ru" class="switch-lang">
                    <span class="flag-icon flag-icon-ru"></span>
                    Русский
                </a>
            {% else %}
                <a href="?locale=en_US" class="switch-lang">
                    <span class="flag-icon flag-icon-ru"></span>
                    English
                </a>
            {% end %}
      </fieldset>
</div>
