html {
    height: 100%;
}
body {
    background: url(../img/pattern.png) repeat;
}
.intro-form {
    padding-top: 5%;
}
@media (min-width: 768px) {
  .intro-form {
    padding-top: 10%;
  }
}
#login {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 400px;
    margin: 0 10px;
    padding: 0 10px;
    color: #FFF;
    border-radius: 5px;
}
#login.describe {
    text-align: left;
}
#login.error {
    padding: 7px 15px;
}
#login legend {
    padding: 14px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
}
#login button {
    width: 100%;
    margin-bottom: 10px;
}
#login form input {
    text-align: center;
}
#login a {
	color: #FFF;
    padding: 5px 0;
}
a.switch-lang {
    float: right;
}

a.descr-link {
    float: left;
}